{% if page.lang == 'en' %}
{% assign base_url = '/en/'  %}
{% else %}
{% assign base_url = '/'  %}
{% endif %}

<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container-fluid">
        <a class="brand" href="/">{{ site.title }}</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#links"
            aria-controls="links" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="links">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ base_url }}">{{ site.nav.[page.lang].intro }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ base_url }}#about">{{ site.nav.[page.lang].about }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ base_url }}#experience">{{ site.nav.[page.lang].experience }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ base_url }}#works">{{ site.nav.[page.lang].works }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ base_url }}#education">{{ site.nav.[page.lang].education }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ base_url }}#contact">{{ site.nav.[page.lang].contact }}</a>
                </li>
                <li class="nav-item">
                    <select id="dropdown" class="form-select">
                        <option {% if page.lang == 'pt' %}selected{% endif %} value="/">PT</option>
                        <option {% if page.lang == 'en' %}selected{% endif %} value="/en">EN</option>
                    </select>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    document.getElementById("dropdown").addEventListener("change", function() {
        var selectedOption = this.options[this.selectedIndex];
        if (selectedOption.value !== "") {
            window.location.href = selectedOption.value;
        }
    });
</script>
    